.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
}
.search-modal:not([data-show]) {
  display: none;
}
.search-modal .card {
  position: relative;
  width: 60dvw;
  max-width: 66.66666666666666dvw;
  height: 60dvh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20dvh;
  border: 1px solid;
  border-radius: 10px;
  padding: 1em;
}
.search-modal .card .card-head {
  height: 60px;
}
.search-modal .card .card-head .search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: title-font-size;
}
.search-modal .card .card-head .search-box .search-input {
  padding: 0.25em 0.75em;
  margin: 0.5em;
  border-radius: 100px;
  border: 1px solid;
  font-size: content-font-size;
}
.search-modal .card .card-head .search-box .search-input:focus {
  outline: none;
  box-shadow: 0 0 5px #3498db;
}
.search-modal .card .card-head .search-box .search-button {
  cursor: pointer;
}
.search-modal .card .card-body {
  height: calc(60dvh - 60px);
  overflow-y: auto;
}
.search-modal .card .card-body .search-count {
  margin-bottom: 1em;
  margin-left: 1em;
}
.search-modal .card .card-body .search-result {
  margin-right: 1em;
}
.search-modal .card .card-body .search-result .search-result-item {
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  border-radius: 10px;
}
.search-modal .card .card-body .search-result .search-result-item:last-child {
  margin-bottom: 2em;
}
.search-modal .card .card-body .search-result .search-result-item .highlight {
  box-shadow: none;
}
.search-modal .card .card-body .search-result .search-result-item .search-result-title {
  font-size: content-font-size;
}
.search-modal .card .card-body .search-result .search-result-item .search-result-tags {
  font-size: info-font-size;
}
.search-modal .card .card-body .search-result .search-result-item .search-result-tags span + span {
  margin-left: 0.25em;
}
.search-modal .card .card-body .search-result .search-result-item .search-result-tags span + span:before {
  content: '|';
  margin-right: 0.25em;
}
.search-modal .card .close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em;
  font-size: 20px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .search-modal .card {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    border: none;
  }
  .search-modal .card .card-head {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-modal .card .card-head .search-box {
    margin-right: 1em;
    display: grid;
    grid-template-columns: 1fr auto;
  }
  .search-modal .card .card-body {
    height: calc(100dvh - 100px);
  }
  .search-modal .card .close-button {
    font-size: 32px;
    right: unset;
    margin-top: 16px;
    border-radius: 40px;
  }
}
